body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0.5em;
}

form {
  margin-top: 1em;
}

label {
  display: inline-block;
  margin-right: 0.5em;
}

select {
  padding: 0.25em 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#table {
  margin-top: 1em;
  padding: 1em;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th{
    background-color: rgba(100, 100, 100, 0.9);
    color: #fff;
    border-radius: 5px;
    padding: 0.5em;
    font-weight: normal;
    text-align: left;
    font-size: 16px;
    text-transform: uppercase;
    border: 1px solid #ccc;
}
td {
    border: 1px solid #ccc;
    padding: 0.5em;
    text-align: left;
    font-size: 14px;
}

tr:hover {
    background-color: #000;
}

button{
    display: block;
    margin: 0 auto;
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgba(100, 100, 100, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #fff;
    color: #333;
}
